@page "/"

<h1>Inventary system</h1>

<div class="container-fluid">
	<p class="float-right">
		<span class="oi oi-target" style="font-size: 60px"></span>
	</p>
	<p class="h4">
		Welcome to your Inventary System
	</p>
</div>

